.editRight{
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.2s;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    color: #444444;
    opacity: 0.5;
    transition: all 0.2s;
}
.editRight:hover{
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}
