.cardImage{
    background-color: #ffffff;
    /*height: 245px;*/
}
.cardContent{
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.cardTitle{
    overflow-x: hidden;
    white-space: nowrap;
}
.userContainer{
    position: relative;
}
.avatar{
    opacity: 0.1;
}
