.pagination{
    text-align: center;
}
.pagination ul{
    display: inline-block;
}
.pagination li{
    margin: 0px auto;
}
.pagination span {
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}
.pagination .active span {
    color: #ffffff!important;
}
